<main class="MenuPage">
  <h1 class="MenuPage-title"> Items in <%= @name%> Menu</h1>
  <section class="Menu-items">
    <ul>
      <% @menu_items.each do |item| %>
        <li class="Menu-item">
          <p class="Menu-itemId"> <%= item.id%> </p>
          <p class= "MenuItem-name"> <%= item.name%> </p>
          <p class= "MenuItem-price"> <%= item.price%> </p>
           <%= submit_tag "edit", class: "MenuItem-edit" ,onclick:"location.href='/menu_items/#{item.id}/edit'"%>
          <%= form_with(url: "/menu_items/#{item.id}", method: "DELETE") do %>
            <%= image_submit_tag "/trashcan.svg", class: "MenuItem-delete" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
  <div>
  <h1 class="MenuPage-title"> Add a Menu-Item in <%= @name%> Menu</h1>
    <%= form_with(url: "/menu_items",method: "post",class: "AddMenuItem") do %>
      <%= text_field_tag 'name', nil, class: 'AddMenuItem-name', placeholder: "enter menu item" , autofocus: true%>
      <%= text_field_tag 'description', nil, class: 'AddMenuItem-description', placeholder: "enter menu description"%>
      <%= number_field_tag 'price',nil, class: "AddMenuItem-price",placeholder: "price" %>
      <%= hidden_field_tag 'id', @id%>
      <%= submit_tag "Add Item", class: "AddMenuItem-button"%>
    <% end %>
  </div>
  <%= submit_tag "Go Back", class: "Back" ,onclick:"location.href='/menus'"%>
</main>
