<main class="MenuPage">
  <p class="Admin-option">To edit menu
    <%= link_to "click here", menus_path%>
  </p>

  <p class="Admin-option">View pending orders
    <%= link_to "click here", orders_path %>
  </p>

  <p class="Admin-option">All the users
    <%= link_to "click here", users_info_path %>
  </p>


  <p class="Admin-option">Add Users
    <%= link_to "click here", users_add_user_page_path %>
  </p>

  <p class="Admin-option">Place orders
  <%= link_to "click here", menu_items_path%>

  <p class="Admin-option">View Reports
  <%= link_to "click here", invoices_path%>


</main>
