<main class="ReportPage">
  <ul>
    <%= form_with(url: "/orders/invoices", method: "POST", class: "AddOrder") do %>
     FROM: <%= date_field_tag 'from_date',nil, class: "From-date" %>
      TO: <%= date_field_tag 'to_date',nil, class: "To-date" %>
      <%= submit_tag "View all Reports", class: "MenuItems-cart"%>
    <% end %>
  </ul>
  <ul>
    <%= form_with(url: "/orders/customer_invoices", method: "POST",class: "AddOrder") do %>
      FROM: <%= date_field_tag 'from_date',nil, class: "From-date" %>
      TO: <%= date_field_tag 'to_date',nil, class: "To-date" %>
      <%= number_field_tag "customer_id", placeholder:" customer id ", class: "Customer-id" %>
      <%= submit_tag "View customer Report", class: "MenuItems-cart"%>
    <% end %>
  </ul>
  <% if @orders %>
    <h1 class="Invoice-title"> All Invoice bills </h1>
    <ul class="Invoice-items">
      <li class="Invoice-item">
        <h2 align="center" class="Order-idHead"> Order-id </h2>
        <h2 align="left" class="OrderedUser-nameHead"> User-Name </h2>
        <h2 align="center" class="OrderItems-head"> Items </h2>
        <h2 align="right" class="Order-valueHead"> Total Bill </h2>
      </li>
      <% @orders.each do |order|%>
        <li class="Invoice-item" >
          <h2 align="center" class="Order-id"> <%= order["id"]%> </h2>
          <h2 align="left" class="OrderedUser-name"> <%= User.find(order["user_id"]).first_name %> <%= User.find(order["user_id"]).last_name %> </h2>
          <h2 align="center" class="OrderItems"> <%= Order.find(order["id"]).order_items.count%> </h2>
          <h2 align="right" class="Order-value"> <%= order["value"] %> </h2>
          <h2 align="left"><%= image_submit_tag  "/info.png",class: "Invoice-info",onclick: "location.href='/orders/#{order["id"]}'" %></h2>
        </li>
      <% end %>
    </ul>
  <%end %>


</main>
