<main class="ReportPage">
    <%= form_with(url: "/orders/invoices", method: "POST", class: "AddOrder") do %>
      <ul class="Invoice-item">
        <h1>FROM: <%= date_field_tag 'from_date',nil, class: "From-date" %> </h1>
        <h1>TO: <%= date_field_tag 'to_date',nil, class: "To-date" %> </h1>
        <h1> <%= submit_tag "View all Reports", class: "Invoice-allOrder"%> </h1>
      </ul>
    <% end %>

    <%= form_with(url: "/orders/customer_invoices", method: "POST",class: "AddOrder") do %>
      <ul class="Invoice-item">
        <h1> FROM: <%= date_field_tag 'from_date',nil, class: "From-date" %> </h1>
        <h1> TO: <%= date_field_tag 'to_date',nil, class: "To-date" %> </h1>
        <h1 class="Customer-id"> CustomerID: <%= number_field_tag "customer_id",nil, placeholder:"customer-id", class: "ID-input"%> </h1>
        <h1> <%= submit_tag "View customer Report", class: "Invoice-order"%> </h1>
      </ul>
    <% end %>

  <% if @orders %>
    <h1 class="Invoice-title"> All Invoice bills </h1>
    <ul class="Invoice-items">
      <li class="Invoice-item">
        <h2 align="center" class="Order-idHead"> Order-id </h2>
        <h2 align="left" class="OrderedUser-nameHead"> User-Name </h2>
        <h2 align="center" class="OrderItems-head"> Items </h2>
        <h2 align="right" class="Order-valueHead"> Total Bill </h2>
      </li>
      <% @orders.each do |order|%>
        <li class="Invoice-item" >
          <h2 align="center" class="Order-id"> <%= order["id"]%> </h2>
          <h2 align="left" class="OrderedUser-name"> <%= User.find(order["user_id"]).first_name %> <%= User.find(order["user_id"]).last_name %> </h2>
          <h2 align="center" class="OrderItems"> <%= Order.find(order["id"]).order_items.count%> </h2>
          <h2 align="right" class="Order-value"> <%= order["value"] %> </h2>
          <h2 align="left"><%= image_submit_tag  "/info.png",class: "Invoice-info",onclick: "location.href='/orders/#{order["id"]}'" %></h2>
        </li>
      <% end %>
    </ul>
  <%end %>


</main>
