<section class="Cart">
  <h1 class="Cart-title"> Items in cart: </h1>
  <ul class="Menu-items">
    <table class="Table">
      <tr class="Table-row">
        <th class="MenuItem-nameHead">Item-name </th>
        <th class="MenuItem-priceHead">Item-price </th>
        <th class="MenuItem-quantityHead">Item-quantity </th>
      </tr>
    <% @id_quantity.each do |item,quantity| %>
      <% if quantity>0 %>
      <li class="Menu-item">
        <tr>
          <td class="MenuItem-name"> <%= MenuItem.find(item).name%> </td>
          <td class="MenuItem-price"> <%= MenuItem.find(item).price%> </td>
          <td class="MenuItem-quantity"> <%= quantity%> </td>
        </tr>
      </li>
      <% end %>
    <% end %>
  </table>
  <section class="Menu-itemsTotal">
    <h1 class="Cart-total">  Total Cart Value: <h1>
    <h1 class="Cart-totalValue"> <%= MenuItem.get_cart_value(@id_quantity)%>
  </ul>
  <%= form_with(url: "/orders", method: "POST",class: "AddOrder") do %>
    <%= submit_tag "Place Order", class: "AddOrder-button"%>
  <% end %>
</section>
