<section class="Menu-details">
  <h1 class="MenuPage-title"> Current details: <h1>
  <h2 class="Current-text"> Id: <%= @id %> </h2>
  <h2 class="Current-text"> Name: <%= MenuItem.find(@id).name %> </h2>
  <h2 class="Current-text"> Description: <%= MenuItem.find(@id).description %> </h2>
  <h2 class="Current-text"> Price: <%= MenuItem.find(@id).price %> </h2>
</section>

<section class="Edit-details">
  <h1 class="edit-details "> Edit details: </h1>
  <%= form_with(url: "/menu_items/#{@id}/update", method: "post",class: "Edit-menuItem") do %>
    <%= text_field_tag "name",MenuItem.find(@id).name,class: "Edit-menuName",placeholder: "new menu item name" %><br>
    <%= text_field_tag "description", MenuItem.find(@id).description,class: "Edit-menudesc",placeholder: "description" %><br>
    <%= number_field_tag "price",MenuItem.find(@id).price,class: "Edit-price",placeholder: "new price" %><br>
    <%= hidden_field_tag "id", @id %>
    <%= submit_tag "update", class: "Update-menuItem" %>
  <% end %>
</section>
<%= submit_tag "Go Back", class: "Back" ,onclick:"location.href='/menus/#{MenuItem.find(@id).menu_id}'" %>
