<main class="MenuPage">
   <% if @role!="customer"%>
  <h1 class="Walk-in"> Walk-in-Customer </h1>
  <% end %>
  <h1 class="MenuPage-title"> Available items </h1>
  <section class="Menu-items">
    <ul>
    <li class="Menu-item">
      <p align="left" class="MenuItem-nameHead">Item-Name</p>
      <p align="left" class="MenuItem-descHead"> Description </p>
      <p align="right" class="MenuItem-priceHead">Price</p>
      <p align="right" class="MenuItem-quantityHead"> Quantity</p>
    </li>
      <%= form_with(url: "/menu_items/cart", method: "POST") do %>
        <% @menu_items.each do |item| %>
          <li class="Menu-item">
            <p align="left" class= "MenuItem-name"> <%= item.name%> </p>
            <p align="left" class= "MenuItem-desc"> <%= item.description%> </p>
            <p align="right" class= "MenuItem-price"> ₹ <%= item.price%> </p>
            <p align="right" class="MenuItem-quantity"> <%= number_field_tag item.id.to_s.to_sym,0,class: "MenuItem-quantity",min: 0%> </p>
          </li>
        <% end %>
      <div class= "Carts">
      <%= submit_tag "Add to cart", class: "MenuItems-cart"%>
    <% end %>
    <%= submit_tag "My cart", class: "MenuItems-cart",onclick:"location.href='/menu_items/cart_items'"%>
      </div>
    </ul>
  </section>
  <% if @role!="customer"%>
  <%= submit_tag "Go Back", class: "MenuItem-back" ,onclick:"goback()"%>
  <% end %>
  <script>
        function goback(){
          window.history.back()
        }
      </script>
</main>
