<main class="MenuPage">
<% if @delivered_orders!=[] or @not_delivered_orders!=[] %>
  <h1 class="Myorders-title">Past orders </h1>
    <% @delivered_orders.each do |order| %>
      <li class="User-item">
        <p class="Order-bold">
          Order number:
        </p>
        <p class= "Order-name">
          <%= order.id%>
        </p>
        <p class="Order-deliver">
        <p class="Order-bold">
          Delivered on:
        </p>
        <p class= "Order-name">
          <%= order.date%>
        </p>
        </p>
      </li>
      <table class="Table">
        <tr class="Table-row">
          <th class="MenuItem-nameHead"> Item name </th>
          <th class="MenuItem-priceHead"> Price</th>
          <th class="MenuItem-quantityHead">Quantity</th>
        </tr>
        <% @delivered_order_items.each do |order_item| %>
          <% if order_item.order_id==order.id %>
            <li class="Menu-item">
              <tr>
                <td class="MenuItem-name"> <%= order_item.menu_item_name %> </td>
                <td class="MenuItem-price"> <%= order_item.menu_item_price %> </td>
                <td class="MenuItem-quantity"> <%= order_item.menu_item_quantity %> </td>
              </tr>
            </li>
          <% end %>
        <% end %>
      </table>
    <% end %>

  <h1 class="Myorders-title"> Pending orders </h1>
  <% @not_delivered_orders.each do |order| %>
    <li class="User-item">
      <p class="Order-bold">
        Order number:
      </p>
      <p class="Order-name">
        <%= order.id%>
      </p>
    </li>
    <table class="Table">
        <tr class="Table-row">
          <th class="MenuItem-nameHead"> Item name </th>
          <th class="MenuItem-priceHead"> Price</th>
          <th class="MenuItem-quantityHead">Quantity</th>
        </tr>
        <% @not_delivered_order_items.each do |order_item| %>
          <% if order_item.order_id==order.id %>
            <li class="Menu-item">
              <tr>
                <td class="MenuItem-name"> <%= order_item.menu_item_name %> </td>
                <td class="MenuItem-price"> <%= order_item.menu_item_price %> </td>
                <td class="MenuItem-quantity"> <%= order_item.menu_item_quantity %> </td>
              </tr>
            </li>
          <% end %>
        <% end %>
    </table>
  <% end %>

<% else %>
  <h1 class="Error-message"> No orders till date</h1>
<% end %>

    <%= submit_tag "Go Back", class: "Back" ,onclick:"location.href='/menu_items'"%>

</main>
